*{
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    color: black;
}
.step2{
    display: none;
}
.step3{
    display: none;
}
.step4{
    display: none;
}
#step1hidden{
    display: none;
}
#step2content{
    display: contents;
}
#step2hidden{
    display: none;
}
#step3content{
    display: contents;
}
#step3hidden{
    display: none;
}
#step4content{
    display: contents;
}


.headimg{
    /* border: 2px solid red; */
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.headpart{
    /* border: 2px solid red; */
    display: flex;
    margin: auto;
    color: white;
    height: 43px;
    width: 90%;
    background-color: #333333;
    margin-bottom: 10px;
}

.steppart{
    background-color: black;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 400;
    width: 6%;
}
.stepdescription{
    padding: 10px;
    font-weight: 700;
}

.step1{
    /* border: 2px solid red; */
    margin-left: 100px;
    margin-top: 10px;
}

.myemailaddress{
    font-size: 14px;
}

.emailenter{
    width: 533px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.common{
    font-size: 12px;
    color: gray;
    margin-bottom: 10px;
}

.guestornotbox{
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 3px;
    width: 533px;
    margin-bottom: 15px;
}

.radioinside{
    margin-left: 10px;
    margin-top: 10px;
}

.guestornotp{
    margin-left: 28px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.enteryourpassword{
    border: 1px solid gray;
    margin-left: 28px;
    margin-right: 28px;
    margin-bottom: 10px;
}

.enteryour{
    margin-bottom: 2px;
}

.enterpassword{
    margin-left: 10px;
    height: 30px;
    width: 250px;
    border: 1px solid gray;
    border-radius: 3px;
}

.forgot{
    color: black;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.continuebutton{
    box-sizing: border-box;
    color: white;
    background-color: #FF6600;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-size: 16px;
    width: 120px;
    margin-bottom: 10px;
}

.orspan{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
}


.shipping{
    margin-top: 20px;
    margin-left: 100px;
    font-size: 18px;
}

.req{
    letter-spacing: 1px;
}

.tableform{
    margin-left: 100px;
    margin-top: 10px;
}

.tablewidth{
    height: 30px;
    width: 362px;
    margin-right: 20px;
}

.selectwidth{
    width: 366px;
}

.ccwidtth{
    width: 50px;
    height: 30px;
    margin-right: 3px;
}
.numwidth{
    width: 309px;
    height: 30px;
}
.gift{
    margin-left: 100px;
    margin-top: 20px;
    background-color: #F1F1F1;
    width: 1150px;
}

.checkinside{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 12px;
}

.giftcaption{
    margin-left: 20px;
    margin-bottom: 10px;
}

.captionwidth{
    margin-left: 20px;
    height: 100px;
    width: 1100px;
}

.delivery{
    margin-left: 20px;
    margin-top: 40px;
    height: 50px;
}
.datefor{
    margin-left: 10px;
    height: 30px;
    width: 170px;
}

.line{
    border-bottom: 1px dotted gray;
    margin-top: 10px;
    margin-left: 100px;
    width: 1150px;
    margin-bottom: 10px;
}

.copyright{
    text-align: center;

}
.capillary{
    background-color: black;
    text-align: right;
    height: 50px;
}

.capillary > img{
    margin-top: 10px;
}

.paymentoption{
    margin-left: 100px;
}

.payment{
    padding: 10px;
}