body{
    background-color:white;
  
  }
 
 /* //2nd part */
 #optionimage{
   border:1px solid grey;
   height:1000px;
   width:100%;
}
#checkout_image{
   border:1px solid rgb(17, 0, 255);
   height:auto;
   width:100%;
   display:flex;
   gap:20px;
   margin:10px;
   margin:10px;



   
}
#checkout_image_img{
   border:1px solid green;
   gap:20px;
   height:auto;
   width:60%;
   display: flex;
   justify-content: space-between;
   margin: 30px;
}
#checkout_image_detail{
   border:1px solid yellow;
   height:auto;
   width:40%;
   display:grid;
   gap:20px;

}

/* // */
#smallimg{
border:1px solid greenyellow;
height:auto;
width:35%;
display:grid;


}
#smallimg img{
 width:70%;
 height:auto;

}


#largeimg{
border:1px solid rgb(3, 3, 97);
width:65%;
height:auto;
}

#largeimg img{
 width:90%;

}
#checkout_image_detail_title{
border:1px solid red;
width:98%;
}
#checkout_image_detail_checkout{
border:1px solid red;
width:98%;

}
#checkout_image_detail_detl{
border:1px solid red;
width:98%;

}
#checkout_image_detail_checkout_btn{
display:flex;
justify-content:space-around;
}
#checkout_image_detail_checkout_btn div button{
font-size: 40px;
width:18%;
background-color: white;
border:1px solid rgb(214, 213, 213);
}
#addtocart{
display:flex;
justify-content: center;
width:80%;
font-size:15px;
height:auto;
font-weight: bold;
background-color: black;
color:white;
padding:15px;
margin:auto;


}
#checkout_image_detail_checkout_p{
font-size: .75em;
font-family: Futura,sans-serif;;
}

/* //show detail */
#checkout_image_detail_title{
font-family: Tiemann,serif;
font-weight: 400;
letter-spacing: 0em;
line-height: 1;
text-transform: uppercase;
color:rgb(88, 88, 88);

}
#titleh3_id{
font-size: 30px;
color:rgb(88, 88, 88);
line-height: 1;


}

.titlediv_append{
display:flex;
/* justify-content:space-evenly; */
font-size: 18px;
color:rgb(88, 88, 88);
gap:18px;
}
#checkout_image_detail_detl li{
   display: list-item;
   font-size: 15px;
   font-family: Avenir-Next,sans-serif;
   letter-spacing: .3px;
   -webkit-font-smoothing: antialiased; 
   line-height: 32px;
   word-wrap: break-word;
   font-weight: 100;

}


/* 3rd part */
 
 
 
   