#home_last_page_image{
    display:flex;
    gap:20px;
    margin:auto;
    justify-content: center;
    margin-bottom: 20px;
}
.home_last_page_image_div{
    width:30%;

}
.home_last_page_image_div img{
    width:100%;
}
.home_last_page_image_btn{
    width:80%;
    display:flex;
    margin:auto;
    justify-content: center;
    padding:10px;
    border:rgb(224, 222, 222);
    background-color: rgb(250, 239, 239);
}
/* #paddingrecvie{
   margin:40px;
} */