
body{
    margin: 0px;
    padding: 0px;
}


#slidingBanner-1 {
    /* margin-top: 16px; */
    width: 100%;
    height: 530px;
    overflow: hidden;
}


#slidingBanner-2 {
    /* margin-top: 16px; */
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    transition: 1s;
}

.slide img {
    width: 100%;
    height:160%;
    /* border-radius: 16px; */
    cursor: pointer;
}

.slide2 {
    width: 25%;
    transition: 1s;
}

.slide2 img {
    width: 100%;
    height: 100%;
    /* border-radius: 16px; */
    cursor: pointer;
}

/* CSS for manual slide navigation */
.Navigation-manual {
    position: absolute;
    /* width: 100%; */
    padding-left: 150px;
    margin-top: 370px;
    display: flex;
}

.manual-btn {
    /* border: 1px solid gray; */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 8px;
}

.manual-btn:hover {
    background-color: gray;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#radio21:checked~.first2 {
    margin-left: 0;
}

#radio22:checked~.first2 {
    margin-left: -25%;
}

#radio23:checked~.first2 {
    margin-left: -50%;
}

#radio24:checked~.first2 {
    margin-left: -75%;
}

/* CSS for auto Navigation */
.Navigation-auto {
    position: absolute;
    display: flex;
    /* width: 100%; */
    /* justify-content: left; */
    padding-left: 150px;
    margin-top: 370px;
}

.Navigation-auto>div {
    border: none;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    background-color: rgb(225, 206, 206);
}

.Navigation-auto>div:not(:last-child) {
    margin-right: 8px;
}

#radio1:checked~.Navigation-auto .auto-btn1 {
    background-color: gray;
}

#radio2:checked~.Navigation-auto .auto-btn2 {
    background-color: gray;
}

#radio3:checked~.Navigation-auto .auto-btn3 {
    background-color: gray;
}

#radio4:checked~.Navigation-auto .auto-btn4 {
    background-color: gray;
}

/* //show imae */
#SHOP_BY_CATEGORY{
    margin-bottom:-70px;
}
#slidingBanner-2{

    margin-bottom: 30px;
}
#slidingBanner-2 img{
    width:100%;
    height:auto;

}
