#NEW_ARRIVALS{
    padding:0px;
    margin:0px;
}

#NEW_ARRIVALS_heading {
  text-align: center;
}

#NEW_ARRIVALS_append {
  display: grid;
  width: 96%;

  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}
.NEW_ARRIVALS_div {
  border: 1px solid green;
  /* width:19%; */
}
/* .NEW_ARRIVALS_div > img:hover {
  background-color: blue;
  width: 100%;
} */
.NEW_ARRIVALS_div:hover NEW_ARRIVALS_btn2{
display:block;

}
.NEW_ARRIVALS_div img {
  width: 100%;
}
/* #NEW_ARRIVALS_append > div:hover {
  background-color: rgb(239, 248, 245);
} */

#NEW_ARRIVALS_tiltle {
  text-align: center;
}
#NEW_ARRIVALS_img {
  justify-content: center;
  margin: auto;
}
#NEW_ARRIVALS_price{
    display:flex;
    justify-content: space-around;
    border:1px solid blue;
    font-size: 22px;
}

#NEW_ARRIVALS_btn1{
  border:1px solid red;
  margin:auto;
  text-align: center;

  
}

#NEW_ARRIVALS_btn1 button{
  text-align: center;
  width:10%;
  padding-bottom:30px;
  justify-content: center;

  margin:auto;
  font-size:25px;
  /* padding-top: 10px; */
  padding-bottom:15px;

}

.NEW_ARRIVALS_btn2 {
  display:none;
  position: absolute;
}
#NEW_ARRIVALS_img:hover + .NEW_ARRIVALS_btn2{
  /* background-color : green; */
  display:block;
}
.NEW_ARRIVALS_btn2{
  text-align: center;
  margin-left:11px;
  width:16%;
  font-size:15px;
  padding:19px;
  padding-left:10px; 
   color:red;
 } 

.NEW_ARRIVALS_btn2:hover{
  display: block;
}

.show_image1 {
  text-align: center;
}

.show_image2 {
  text-align: center;
}
.show_image3 {
  text-align: center;
}
.s{
  height: 46%;
  width: 0%;
}
