#RECENTLY_VIEWED{
    padding:0px;
    margin:0px;
}

#RECENTLY_VIEWED_h4{
    text-align: center;
    color: rgb(22, 21, 21);
}

#RECENTLY_VIEWED{
    display: flex;
    gap:10px;
    margin: auto;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
}
.RECENTLY_VIEWED_div{
    /* border:1px solid green; */
    /* display:flex; */
    /* gap:3px; */
    width:19%;


}
#RECENTLY_VIEWED img{
    width:100%
}
#RECENTLY_VIEWED_price{
    display:flex;
    gap: 10px;
}
.RECENTLY_VIEWED_div{
    position:relative;
    cursor: pointer;
  }

.RECENTLY_VIEWED_btn2{
    position: absolute;
    bottom:180px;
    text-align: center;
    margin-left:20px;
    width:90%;
    font-size:15px;
    padding:5px;
    padding-left:10px; 
    color:red;
     /* padding-top:25px; */
}
.RECENTLY_VIEWED_btn2{
    display:none;
}

.RECENTLY_VIEWED_div:hover RECENTLY_VIEWED_btn2{
    display:block;
    }
#RECENTLY_VIEWED_img:hover + .RECENTLY_VIEWED_btn2{
        /* background-color : green; */
        display:block;
      }
.RECENTLY_VIEWED_btn2:hover{
        display: block;
}
#RECENTLY_VIEWED_button{
    display:flex;
    margin:auto;
    justify-content: center;
    width:48%;
    background-color:black ;
    color:white;
    font-size: 22px;
    padding:8px;
}
/* .RECENTLY_VIEWED_btn2{
    margin-bottom:50px;
} */