#SHOP_BY_CATEGORY{
    padding:0px;
    margin:0px;

}

#SHOP_BY_CATEGORY_heading {
  text-align: center;
}

#SHOP_BY_CATEGORY_append {
  display: grid;
  width: 96%;

  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}


#SHOP_BY_CATEGORY_div{
  position: relative;
  border:1px solid rgb(242, 243, 242);

}
#SHOP_BY_CATEGORY_div img {
  height:270px;
  width: 100%;
}

/* #SHOP_BY_CATEGORY_append > div:hover {
  background-color: rgb(239, 248, 245);
} */

#SHOP_BY_CATEGORY_tiltle {
  text-align: center;
}
#SHOP_BY_CATEGORY_img {
  justify-content: center;
  margin: auto;
}
/* #SHOP_BY_CATEGORY_div:hover{
  background-color: blue;

} */
#SHOP_BY_CATEGORY_tiltle{
  position:relative;
  /* border:1px solid green; */

}
#SHOP_BY_CATEGORY{
  margin-bottom:40px;
}