#SHOP_BY_CATEGORY{
    padding:0px;
    margin:0px;
}

#SHOP_BY_CATEGORY_heading {
  text-align: center;
}

#SHOP_BY_CATEGORY_append {
  display: grid;
  width: 96%;

  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  margin: auto;
}

#SHOP_BY_CATEGORY_div {
  border: 1px solid green;
  /* width:19%; */
}
#SHOP_BY_CATEGORY_div > img:hover {
  background-color: blue;
  width: 100%;
}
#SHOP_BY_CATEGORY_div img {
  width: 100%;
}
#SHOP_BY_CATEGORY_append > div:hover {
  background-color: rgb(239, 248, 245);
}

#SHOP_BY_CATEGORY_tiltle {
  text-align: center;
}
#SHOP_BY_CATEGORY_img {
  justify-content: center;
  margin: auto;
}
#SHOP_BY_CATEGORY_div:hover{
  background-color: blue;

}
#SHOP_BY_CATEGORY_tiltle{
  position:relative;
  border:1px solid green;

}
/* #div2{
  border:1px solid green;

} */