#TRENDING_NOW{
    padding:0px;
    margin:0px;
  }
  
  #TRENDING_NOW_h4{
    text-align: center;
    color: rgb(22, 21, 21);
  }
  
  #TRENDING_NOW{
    display: flex;
    gap:10px;
    margin: auto;
    justify-content: center;
    padding-bottom: 20px;
  }
  .TRENDING_NOW_div{
    border:1px solid green;
    /* display:flex; */
    /* gap:3px; */
    width:19%;
  
  
  }
  #TRENDING_NOW img{
    width:100%
  }
  #TRENDING_NOW_price{
    display:flex;
    gap: 10px;
  }
  .TRENDING_NOWbtn2{
    text-align: center;
    margin-left:20px;
    width:80%;
    font-size:15px;
    padding:5px;
    padding-left:10px; 
     color:red;
  }
  .TRENDING_NOW_btn2{
    display:none;
  }
  
  .TRENDING_NOW_div:hover TRENDING_NOW_btn2{
    display:block;
    }
  #TRENDING_NOW_img:hover + .TRENDING_NOW_btn2{
        /* background-color : green; */
        display:block;
      }
  .TRENDING_NOW_btn2:hover{
        display: block;
  }
  
  
  /* //2nd */
  .TRENDING_NOW_div{
    position:relative;
    cursor: pointer;
  }
  .TRENDING_NOW_btn2{
    position: absolute;
    bottom:180px;
    text-align: center;
    margin-left:11px;
    width:300px;
    font-size:15px;
    padding:19px;
    padding-left:10px; 
     color:red;
   } 
  
  .TRENDING_NOW_btn2:hover{
    display: block;
  }
  
  .show_image1 {
    text-align: center;
  }
  
  .show_image2 {
    text-align: center;
  }
  .show_image3 {
    text-align: center;
  }
  .s{
    height: 46%;
    width: 0%;
  }
  
  #TRENDING_NOW_btn{
    display:flex;
    width:8%;
    justify-content: center;
    margin:auto;
    padding:5px;
    font-size:18px;
    margin-bottom: 20px;
  }
  