#YOU_MAY_ALSO_LIKE{
    padding:0px;
    margin:0px;
}

#YOU_MAY_ALSO_LIKE_h4{
    text-align: center;
    color: rgb(22, 21, 21);
}

#YOU_MAY_ALSO_LIKE{
    display: flex;
    gap:10px;
    margin: auto;
    justify-content: center;
    padding-bottom: 20px;
}
.YOU_MAY_ALSO_LIKE_div{
    /* border:1px solid green; */
    /* display:flex; */
    /* gap:3px; */
    width:19%;


}
#YOU_MAY_ALSO_LIKE img{
    width:100%
}
#NEW_ARRIVALS_price{
    display:flex;
    gap: 10px;
}
.YOU_MAY_ALSO_LIKE_div{
    position:relative;
    cursor: pointer;
  }
.YOU_MAY_ALSO_LIKE_btn2{
    position: absolute;
    bottom:180px;
    
    text-align: center;
    margin-left:20px;
    width:80%;
    font-size:15px;
    padding:5px;
    padding-left:10px; 
     color:red;
}
.YOU_MAY_ALSO_LIKE_btn2{
    display:none;
}

.YOU_MAY_ALSO_LIKE_div:hover NEW_ARRIVALS_btn2{
    display:block;
    }
#YOU_MAY_ALSO_LIKE_img:hover + .YOU_MAY_ALSO_LIKE_btn2{
        /* background-color : green; */
        display:block;
      }
.YOU_MAY_ALSO_LIKE_btn2:hover{
        display: block;
}