

#top{
    display: flex;
    /* justify-content: flex-end; */
   justify-content: space-between;
   /* border: 1px solid blue; */
   align-items: center;
}
#blank{
    width: 23%;
    /* border: 1px solid red; */
}
.icon{
    /* margin-right: 200px; */
    margin-top: 20px;
    margin-bottom: 5px;
    /* border: 1px solid red; */
}
.icon img{
    width: 200px;
    height: 30px;
}
.nav{
    margin: 2px 20px;
    display: flex;
  
}
.nav svg{
    margin-right: 20px;
    
}

#navbar{
margin: 0 auto;
}
#navbar2{
    margin: 0 auto;
}

nav ul{
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    text-align: center;
    }

nav li{
    display: inline-block;
    
}
nav a{
    text-decoration: none;
    display: block;
    padding: 8px 20px;
    color: black;
}


#navbar2 ul{
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    text-align: center;
  
}

#three{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    padding: 10px 10px 40px 10px ;
    position: relative;
}
#three div{
    /* border: 2px solid blue; */
    height: 490px;
    width: 370px;
  
}
#three div img{
    width: 100%;
    height: 100%;
  

}
.three-1{
    position:absolute;
    top: 30%;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.three-2{
    position:absolute;
    top: 30%;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.three-1 h1{
margin-top: 6%;
font-size: 65px;
}
.three-1 h3{
margin-top: 6%;
}
.three-1 button{
 margin-top: 2%; 
 background-color: #FFFFFF;  
 color: black;
 border: none;
}
.three-2 h1{
    /* margin-top: 1%; */
    font-size: 65px;
    }
  
    .three-2 button{
     /* margin-top: 1%;  */
     background-color: #FFFFFF;  
     color: black;
     border: none;
    }
 .sub-menu{
    display: block;
    position: absolute;
    left: 0; /*very imprtant so that the div start with its parent position*/
    background-color: #FFFFFF;
    width: 100vw;
    display: none;
    padding: 32px;
    z-index: 10;
    /* margin-left: -55px; */
}

nav  li:hover .sub-menu{
    display: block;
   
}
#navbar .hov:hover{
    border-bottom: 2px solid black;
    color: black;
}

#navbar2 .hov:hover{
    border-bottom: 2px solid black;
    color: black;
}
.sub-menu  li{
    display: block;
}

.sub-menu a{
    padding: 0;
    color: black;
}
.menu-category{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 25px;
 
}
.menu-category-2{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 25px;
}
.menu-category-2 ul li{
    font-size: 13px;
    padding: 10px 0;
    line-height: 10px;
}
.menu-category-3{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    /* align-items: center; */
    /* gap: 25px; */
    margin-left: 20%;
}
.menu-category-4{
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: center;
    /* align-items: center; */
    /* gap: 25px; */
    margin-left: 20%;
}
.menu-category-5{
    display: grid;
    grid-template-columns: repeat(2,20%);
    justify-content: center;
    /* align-items: center; */
    /* gap: 25px; */
    margin-left: 20%;
}
.menu-category ul li{
    font-size: 13px;
    padding: 10px 0;
    line-height: 10px;
}
#black{
    background-color: black;
    color: #FFFFFF;
    height: 42px;
    width: 100%;
    display: flex;
}
#black p{
    margin: auto;
}

ul >li:hover
{
   cursor: pointer; 
   font-size: 20px;
}
