#fcontainer {
    width: 100%;
    height: 500px;
    background-color: lightgray;
  
  }
  
  #top-s {
    width: 100%;
    height: 60px;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
  }
  
  #footer.links {
    width: 25%;
    height: 200px;
  
  }
  
  #footer .last {
    width: 30%;
    height: 200px;
  }
  
  #scontainer {
    display: flex;
    justify-content: space-evenly;
  }
  
  #tcontainer {
    margin-top: 40px;
    ;
    width: 100%;
    height: 150px;
  }
  
  #scontainer .links>div>a {
    color: black;
    text-decoration: none;
  
  }
  
  #scontainer .links>div {
    margin-top: 20px;
    padding: 0px 15px 0px 15px;
  }
  
  #tcontainer>div>img {
    width: 20%;
  
  }
  
  #tcontainer>div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #footer .last>input {
    width: 75%;
    height: 35px;
    margin-bottom: 15px;
  
  }
  
  #footer::placeholder {
    font-size: 17px;
  }
  
  .last>button {
    width: 77%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border: none;
    cursor: pointer;
  
  }
  
  .last>a>img {
    width: 8%;
    height: 15%;
    margin-top: 5px;
  }
  
  #container3>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
  
  #container3 {
    display: grid;
    margin: auto 20px;
    /* width: 90%; */
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
  }
  
  #container3 div {
    text-align: center;
  }
  
  #container3>div {
    padding: 10px;
    border-radius: 10px;
  }
  
  
  #container3 div img {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    transition: 0.5s;
    overflow: hidden;
  }
  
  #container3 div img:hover {
    transform: scale(1.02);
    z-index: 2;
  }
  
  #container3 :nth-child(3) img {
    height: 50%;
    margin-top: 90px;
  }
  
  #container3>div>div {
    margin-top: 0px;
  }
  
  #container3 div p {
    color: rgb(73, 65, 65);
    margin-top: 10px;
    line-height: 1.5;
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  #container3 div div span {
    margin: 2px;
  
    font-size: 16px;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeSpeed;
  }
  
  #container3 div div :nth-child(3) {
    color: red;
  }
  
  #container3 div div :nth-child(1) {
    text-decoration: line-through;
  }
  
  
  .d3 {
    border-bottom: 1px solid rgb(206, 197, 197);
    text-align: center;
  
  }
  
  .d3 input {
    padding: 10px;
    width: 9%;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: 0.05px solid rgb(206, 197, 197);
    margin: 20px 0;
  }
  
  body {
    font-weight: 400px;
  }
  
  .text {
    margin-top: 30px;
    text-align: center;
    margin-bottom: -30px;
  }
  
  .text input {
    padding: 10px;
    width: 9%;
    background-color: white;
    border: 0.05px solid rgb(206, 197, 197);
  }
  
  #container2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 500px;
    gap: 10px;
  }
  
  #container2 div {
    margin: 20px;
    margin-top: 60px;
    cursor: pointer;
    text-align: center;
  
  }
  
  #container2>div {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
  }
  
  #container2 div img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
    overflow: hidden;
  }
  
  #container2 div img:hover {
    transform: scale(1.02);
    z-index: 2;
  }
  
  #container2 div p {
    color: rgb(73, 65, 65);
    margin-top: 5px;
    line-height: 1.5;
    font-size: 20px;
  }
  
  #container2 div div {
    margin-top: 0px;
  }
  
  #container2 div div span {
    margin: 2px;
    font-size: 16px;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeSpeed;
  }
  
  #container2 div div :nth-child(3) {
    color: red;
  }
  
  #container2 div div :nth-child(1) {
    text-decoration: line-through;
  }
  
  .d2 {
    border-top: 1px solid rgb(206, 197, 197);
    border-bottom: 1px solid rgb(206, 197, 197);
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  #container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 280px);
    gap: 20px;
  }
  
  #container div {
    cursor: pointer;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    border-radius: 10px;
  }
  
  #container div p {
    text-align: center;
    margin-top: 5px;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 0.2em;
  }
  
  #container div img {
    width: 90%;
    height: 90%;
    transition: 0.5s;
    overflow: hidden;
  }
  
  #container div img:hover {
    transform: scale(1.02);
    z-index: 2;
  }
  
  #container div img:hover {
    transform: scale(1.02);
    z-index: 2;
  }
  
  #container :nth-child(4) img {
    margin: 90px 0 60px 0;
    height: 35%;
  }